{
  "openapi": "3.0.0",
  "info": {
    "title": "GPT Scrape API",
    "version": "1.0.0",
    "description": "API for scraping searchGPT responses"
  },
  "servers": [
    {
      "url": "https://app.gptscraper.com/api",
      "description": "Production server"
    }
  ],
  "paths": {
    "/searchgpt/jobs": {
      "post": {
        "summary": "Create a new search job",
        "description": "Submit a query to be scraped",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "The query to send to searchGPT"
                  },
                  "screenshot": {
                    "type": "boolean",
                    "description": "Whether to capture a screenshot of the search results"
                  },
                  "country": {
                    "type": "string",
                    "description": "Country code in ISO 3166-1 alpha-2 format"
                  }
                },
                "required": ["query", "screenshot"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jobId": {
                      "type": "string",
                      "description": "Unique identifier for the created job"
                    },
                    "success":{
                      "type": "boolean",
                      "description": "Whether the job was created successfully"
                    }
                  },
                  "required": ["jobId"]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/searchgpt/jobs/{jobId}": {
      "get": {
        "summary": "Get job details by ID",
        "description": "Get job details by ID",
        "parameters": [
          {
            "in": "path",
            "name": "jobId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the job to retrieve"
          }
        ],
        "responses": {
          "200": {
            "description": "Job details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": ["processing", "completed"],
                      "description": "The status of the job"
                    },
                    "query": {
                      "type": "string",
                      "description": "The original search query"
                    },
                    "screenshot": {
                      "type": "boolean",
                      "nullable": true,
                      "description": "Whether a screenshot was requested"
                    },
                    "results": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "status": {
                          "type": "string",
                          "description": "Status of the search result"
                        },
                        "result": {
                          "type": "string",
                          "description": "The main content response from searchGPT"
                        },
                        "metadata": {
                          "type": "object",
                          "properties": {
                            "prompt": {
                              "type": "string",
                              "description": "The original prompt used for the search"
                            },
                            "model": {
                              "type": "string",
                              "description": "The model used to generate the response"
                            },
                            "language": {
                              "type": "string",
                              "description": "The language of the response"
                            },
                            "citations": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "url": {
                                    "type": "string",
                                    "description": "URL of the citation"
                                  },
                                  "title": {
                                    "type": "string",
                                    "description": "Title of the citation"
                                  }
                                }
                              },
                              "description": "Citations referenced in the response"
                            },
                            "urls": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "description": "URLs referenced in the response"
                            },
                            "finish_reason": {
                              "type": "string",
                              "description": "Reason why the generation finished"
                            },
                            "search_enabled": {
                              "type": "boolean",
                              "description": "Whether search was enabled for this query"
                            }
                          }
                        }
                      }
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp when the job was created"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp when the job was last updated"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Job not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API key",
        "description": "Enter your API key in the format: Bearer <YOUR_API_KEY>"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        },
        "required": ["error"]
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}