{
  "openapi": "3.0.0",
  "info": {
    "title": "GPT Scrape API",
    "version": "1.0.0",
    "description": "API for scraping searchGPT responses"
  },
  "servers": [
    {
      "url": "https://app.gptscraper.com/api",
      "description": "Production server"
    }
  ],
  "paths": {
    "/searchgpt": {
      "post": {
        "summary": "Scrape searchGPT response",
        "description": "Scrape searchGPT",
        "operationId": "run",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "The query to send to searchGPT"
                  }
                },
                "required": ["query"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "string",
                      "description": "The main content response from searchGPT"
                    },
                    "contentLinks": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "description": "URL of the link"
                          },
                          "text": {
                            "type": "string",
                            "description": "Text content of the link"
                          }
                        }
                      },
                      "description": "Links found within the content"
                    },
                    "sources": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "description": "URL of the source"
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the source"
                          }
                        }
                      },
                      "description": "Sources referenced by searchGPT"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/searchgpt/jobs": {
      "post": {
        "summary": "Create a new search job",
        "description": "Currently in Beta, contact support to get access",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "The query to send to searchGPT"
                  },
                  "screenshot": {
                    "type": "boolean",
                    "description": "Whether to capture a screenshot of the search results"
                  }
                },
                "required": ["query", "screenshot"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jobId": {
                      "type": "string",
                      "description": "Unique identifier for the created job"
                    },
                    "success":{
                      "type": "boolean",
                      "description": "Whether the job was created successfully"
                    }
                  },
                  "required": ["jobId"]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/searchgpt/jobs/{jobId}": {
      "get": {
        "summary": "Get job details by ID",
        "description": "Currently in Beta, contact support to get access",
        "parameters": [
          {
            "in": "path",
            "name": "jobId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the job to retrieve"
          }
        ],
        "responses": {
          "200": {
            "description": "Job details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": ["processing", "completed"],
                      "description": "The status of the job"
                    },
                    "query": {
                      "type": "string",
                      "description": "The original search query"
                    },
                    "screenshot": {
                      "type": "boolean",
                      "description": "Whether a screenshot was requested"
                    },
                    "results": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "content": {
                          "type": "string",
                          "description": "The main content response from searchGPT"
                        },
                        "contentLinks": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": "string",
                                "description": "URL of the link"
                              },
                              "text": {
                                "type": "string",
                                "description": "Text content of the link"
                              }
                            }
                          },
                          "description": "Links found within the content"
                        },
                        "sources": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": "string",
                                "description": "URL of the source"
                              },
                              "title": {
                                "type": "string",
                                "description": "Title of the source"
                              }
                            }
                          },
                          "description": "Sources referenced by searchGPT"
                        },
                        "screenshotUrl": {
                          "type": "string",
                          "description": "URL of the captured screenshot"
                        }
                      }
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp when the job was created"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp when the job was last updated"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Job not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        },
        "required": ["error"]
      }
    }
  }
}